.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.url{
    display: flex;
}

.itemList{
    padding: 0.5em 0.5em 0.5em 0.5em;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.23);
    -moz-moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.23);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.23);
}

.itemList:hover{
    box-shadow: 15px 15px 10px -6px rgba(0,0,0,0.23);
}
