.box {
	margin: 1em;
	float: left;
}
.after-box {
	clear: left;
}

.vol {
  width: 7em;
}

.time {
	width: 22em;
}
.content{
    display:flex;
    flex-direction: column;
}
.video{
    width: 100%;
}
.listeLecture{
    display: flex;
    flex-wrap: wrap;
}